@page "/countries/create"

<h3>Add Country</h3>

<CountryForm @ref="countryForm" Country="country"
             OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Country country = new();
    private CountryForm? countryForm;
    private async Task Create()
    {
        var httpResponse = await repository.Post("/countries", country);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;
        }

        countryForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("countries");

    }

    private void Return()
    {
    

        navigationManager.NavigateTo("/countries");
       

    }
}
